{% extends 'layout.html' %}
{% block title %}
  Contact - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="intro">
    <p>If you would like to contact me for a potential project or otherwise, please fill out the form below.</p>
  </div>
  <div class="wrapper center">
    <form role="form" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}

{% block menu %}
    <li><a href="/"><i class="fa fa-file-code-o" aria-hidden="true"></i> Portfolio</a></li>
    <li><a href="/about"><i class="fa fa-user" aria-hidden="true"></i> About Me</a></li>
    <li><a target="_blank" href="/static/MikeSkwarcan_Resume.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Résumé</a></li>
    <li><a class="active" href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
{% endblock %}