{% extends 'layout.html' %}
{% block content %}
  <div class="about">
    <h2>My Life Story</h2>
    <p>I was born in Elkhart, Indiana and lived there up until the point that I graduated high school. I then went to Lake Land College for two years where I played for their mens tennis team and got my Associate's degree in Web Technology. After that I went to Purdue Univeristy for 2 years where I got my Bachelor's degree in Computer Graphics Technology with a focus in interactive media. I've been living and working in Fort Worth since May of 2010 and have been enjoying my time here. In my free time I enjoy staying active, mostly soccer and tennis, hanging out with friends, checking out new restaurants, and drinking craft beer.</p>
    
    <h2>My Career</h2>
    <p>Throughout college I had multiple internships over the summers as either a web developer or web designer. My first real job started 2 weeks before I graduated in May of 2010. I started working for a company in Texas for a two month contact remotely from Indiana. After a month and a half I was asked to come on full time and move down to Texas. I moved to Fort Worth, TX in July of 2010 and started working for the Balcom Agency as a web developer.</p>
    
    <p>When I first got hired on at the Balcom agency, I was one of three developers with the company. During the first 2 years with the company the other 2 developers left the company and during the latter two  years I was the only developer. While the people and company are great, the work was starting to get a bit repetitive and I wanted to work with a team of developers again. So after four years of working at the Balcom Agency, I left the company in May of 2014 and started working for Warren Douglas Advertising.</p>
    
    <p>One of the main reasons I began working at Warren Douglas was because they had five other developers there and I was excited to be able to learn from my fellow coworkers. For the first eight or so months of working at Warren Douglas, we were having issues with the project management on our digital projects and so I offered to become the digital project manager. During my time as digital project manager, I got my Certified Scrum Master (CSM) in February of 2016.</p>
      
    <p>Between January of 2016 to April of 2016 our development team went from six members to three members due to various reasons and after a year as digital project manager, Warren Douglas had requested that I take on a new role of senior project developer to help out more on the development side than the project management side. I am currently still employed at Warren Douglas as senior project developer.</p>
  </div>
{% endblock %}

{% block menu %}
    <li><a href="/"><i class="fa fa-file-code-o" aria-hidden="true"></i> Portfolio</a></li>
    <li><a class="active" href="/about"><i class="fa fa-user" aria-hidden="true"></i> About Me</a></li>
    <li><a target="_blank" href="/static/MikeSkwarcan_Resume.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Résumé</a></li>
    <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
{% endblock %}